body {
    font-family: 'Roboto', sans-serif; /* Тепер у нас сучасний шрифт */
    transition: background 0.3s, color 0.3s; /* Плавна зміна кольорів */
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 15px; /* Заокруглені кути для картки */
}

/* Темна тема */
.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode .container {
    border-color: #333;
}

footer {
    margin-top: 50px;
    text-align: center;
    color: #666;
}